<div id="app-switcher-button">
  <style>
    #app-switcher-button {
      position: fixed;
      z-index: 8;
      bottom: 40px;
      right: 15px;
      height: 44px;
      width: 44px;
      background-color: rgb(128 128 128 / 50%);
      border-radius: 22px;
      box-shadow: 0 0 8px rgb(0 0 0 / 50%);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
    }
    .icon-box-1 {
      margin: 12px;
      width: 20px;
      height: 20px;
      border: 2px solid rgb(195, 195, 195);
      box-sizing: border-box;
      border-radius: 6px;
      box-shadow: 0 0 6px rgb(0 0 0 / 20%);
    }
    .icon-box-2 {
      margin: 2px;
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      box-sizing: border-box;
      border-radius: 4px;
    }
  </style>
  <div class="icon-box-1">
    <div class="icon-box-2"></div>
  </div>
</div>